.registration-container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.registration-title {
  text-align: center;
  color: #030000;
  margin-bottom: 25px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #8fa9ff;
  font-size: 16px;
}

.registration-button {
  padding: 12px;
  background-color: #cbffd7;
  color: #007c0a;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 16px;
  border-color: #000000;
}

.registration-google-button {
  padding: 12px;
  background-color: #a1ecff;
  color: #006b96;
  border: none;
  border-radius: 125px;
  font-weight: bold;
  cursor: pointer;
  border-color: #000000;
}