.service-section {
  width: 100%;
  padding: 40px 0;
}

#service-heading {
  color: #25bb66;
  font-size: 50px;
  padding-left: 25px;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.service-card {
  background: #fff;
  border-radius: 16px;
  padding: 25px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: background 0.5s, transform 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card button {
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px;
  background: #25bb66;
  color: #fff;
  border-radius: 8px;
  font-size: 0.9em;
  transition: background 0.5s;
  border: none;
  cursor: pointer;
}

.service-card button:hover {
  background: #1e9156;
}

.service-card h2,
.service-card p {
  padding-left: 20px;
}

.service-card img {
  border: solid #1e9156;
  border-radius: 4px;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 10px rgba(28, 96, 19, 0.2);
}